
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

@import "tailwindcss";

.login-bg{
  background-image: url("/girl.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}